* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(program-bg.jpg);
  background-size: cover;
  overflow-x: hidden;
  overflow-y: scroll;
}

.whole {
  /* height: 905px; */
  display: flex;
}

/* Header starts hear */

.header {
  padding-top: 10px;
  position: fixed;
  background-color: antiquewhite;
  width: 20%;
  background-color: rgba(255, 235, 205, 0.534);
  text-align: center;
  height: 65px;
  font-size: xx-large;
}

/* Header ends hear */

/* ----------------------------------------------------------------------- */

/* Navbar starts hear */

/* Navbar starts hear */

/* Navbar starts hear */

.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  font-size: x-large;
  width: 200px;
  /* border: 2px solid white; */
}

.ancar {
  text-decoration: none;
  text-align: center;
  color: orange;
}

.logo {
  height: 100px;
  width: 100%;
}

.home {
  padding-top: 30px;
  text-align: center;
  font-size: larger;
  margin-top: 60px;
  color: orange;
}

/* Navbar end here  */

/* Navbar end here  */

/* Navbar end here  */

/* ------------------------------------------------------------- */

/* heading starts hear */

.heading {
  font-size: 60px;
  color: aliceblue;
  margin-top: 10px;
  margin-left: 590px;
}

.orange {
  font-size: 80px;
  color: orange;
}

/* heading ends hear */

.accordian {
  margin-left: 500px;
  /* position: absolute; */
  background-color: orange;
  opacity: 0.8;
  /* height: 600px; */
  width: 500px;
  padding: 10px 10px;
}

.content-bo {
  position: relative;
  padding: 10px;
  font-size: larger;
  background-color: white;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  height: auto;
}

/* .accordian .content-box.active .lab::before {
    content: '-';
} */

.content {
  position: relative;
  font-size: large;
  height: 0px;
  background-color: rgb(250, 192, 2);
  transition: 0.9s;
  overflow-y: auto;
}

.accordian .content-box.active .content {
  height: 100px;
  padding: 10px;
}

/* <!-- footer starts hear --> */

.footer {
  color: aliceblue;
  background-color: rgb(27, 24, 24);
  padding: 20px;
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
}

.quick,
.connect {
  margin-left: 30px;
}

a {
  color: blue;
  text-decoration: none;
}

/* footer ends hear */

@media (max-width: 450px) {
  .whole {
    background-size: cover;
    height: 700px;
  }
  .navbar {
    font-size: small;
    width: 110px;
    margin-top: 50px;
  }
  .right {
    margin-left: 140px;
    padding: 5px;
  }
  .header {
    width: 30%;
    font-size: large;
    height: 52px;
  }
  .heading {
    margin-left: 30px;
    font-size: 33px;
  }
  .accordian {
    margin-left: 20px;
    width: 250px;
  }
  .footer {
    width: 96;
    font-size: small;
    padding: 10px;
  }
}
